@font-face {
    font-family: dina;
    src: url('../../../resources/dina.ttf');
}

body {
    background: #E0E0FF;
    tab-index: -1;
}

#legend {
    font-size: 1.4em;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
}

#white {
    text-align: center;
    background: white;
    padding: 1%;
    margin: 5% auto;
}

#container {
    white-space: nowrap;
    position: relative;
    text-align: center;
    border: 1px solid #888888;
    background: #F0F0F0;
    padding: 1%;
    display: inline-block;
    margin: 0 auto;
}

#canvas-container {
    white-space: normal;
    position: relative;
    text-align: center;
    background: #F0F0F0;
}

#canvas {
    font-family: chatFont, serif;
    outline-color: transparent;
    white-space: normal;
    z-index: -1;
}

#chatbox {
    background-color: rgba(88, 88, 88, 0.8);
    outline-color: transparent;
    color: white;
    resize: none;
}

#chat-input {
    background-color: rgba(88, 88, 88, 0.8);
    outline-color: transparent;
    color: white;
    resize: none;
}

.on-canvas {
    color: black;
    position: absolute;
    border: 1px solid rgba(170, 170, 170, 0.5);
    background: #eeeeee;
    padding: 4px 16px 4px 16px;
    tab-index: -1;
}

.unfocusable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
}
.button {
  background-color: #808080;
  color: white;
}
