body {
    background: #E0E0FF;
}

legend {
    font-size: 1.4em;
}

.container {
    text-align: center;
    border: 1px solid #888888;
    background: #F0F0F0;
    padding: 1%;
    display: inline-block;
    margin: 0 auto;
}

.white {
    text-align: center;
    background: white;
    padding: 1%;
    margin: 5% auto;
}

canvas {
    font-family: chatFont, serif;
}

@font-face {
    font-family: chatFont;
    src: url('../../../resources/dina.ttf');
}