body {
    background: #E0E0FF;
}

fieldset {
    border: 1px solid #888888;
    background: #F0F0F0;
    margin-right: auto;
    margin-left: auto;
}

legend {
    font-size: 1.4em;
}

.center {
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

.white {
    background: white;
    padding: 1%;
    margin: 5% auto;
}

canvas {
    font-family: chatFont, serif;
}

@font-face {
    font-family: chatFont;
    src: url('../../../resources/dina.ttf');
}